name: Web  E2E  Tests

on:
    workflow_dispatch:

jobs:
   e2e-tests:

       runs-on:  ubuntu-latest

      steps:

        - uses:  actions/checkout@v4

        -  name:  Conferir a  versão  instalada  do Node
            run:  node  --version
        
        - name:  Instalar  dependências
            run: npm  install

        -  name:  Executar os  testes  Cypress
            run: npx  cypress  run

