name:  Web  E2E  Tests  - CTs1-16prova

on:
   workflow_dispatch:

jobs:
   e2e-tests:
       runs-on:  ubuntu-latest

       steps:
           # clone  do  projeto  para  a máquina
           -  name:  Checkout do  repositório
              uses:  actions/checkout@v4

           - name: Conferir a versão instalada do Node
             run: node --version

           - name: Instalando dependências
             run: npm install

           - name: Instalar Cypress
             run: npx cypress install

           - name: Executar apenas CTs1-16prova.cy.js
             run: npx cypress run --spec "cypress/e2e/CTs-16prova.cy.js"

           -  name: Upload  de  screenshots  (se  houver)
              if:  failure()
              uses:  actions/upload-artifact@v4
              with:
                  name: screenshots
                  path:  cypress/screenshots

           - name: Upload de vídeos
             if: always()
             uses: actions/upload-artifact@v4
             with:
                name: videos
                path: cypress/videos
