name: Web E2E Tests

on:
 workflow_dispatch:

jobs:
 e2e-tests:

  runs-on: ubuntu-latest

  steps:

   # clone do projeto para a máquina
   - uses: actions/checkout@v4

   # Conferir a versão instalada
   - name: Node version
     run: node --version

   - name: Install dependencies
     run: npm ci

   - name: Ensure Cypress binary permissions
     run: chmod +x ./node_modules/.bin/cypress

   - name: Run Cypress tests
     run: npx cypress run

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: relatorios
        path: |
        cypress/videos
        cypress/screenshots
        cypress/reports
